<footer class="site-footer">

	
  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
		<li><p class="rss-subscribe">subscribe via <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p></li>
        <li>contact via <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <a href="https://github.com/{{ site.username }}">
            
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.username }}">
            
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
      </ul>
    </div>

  </div>

</footer>
